/*---
title:   Form
name:    base_form
section: Base
---

Basic form styling and enhancements to ensure consistency across browsers.
More complex form styles should be applied via components. Form layouts can be
achieved with a combination of the [avalanche grid object](https://www.npmjs.com/package/avalanchesass_object_grid)
and the [avalanche width utility](https://www.npmjs.com/package/avalanchesass_utility_width).
*/
